<div class="search">
    <form class="search-form">
      <mat-form-field class="search-filed">
        <mat-label>Job title or key word</mat-label>
        <input matInput  type="text"  placeholder="software engineer" name="title" id="title" />
      </mat-form-field>
      <mat-form-field class="search-filed">
        <mat-label>Place</mat-label>
        <input matInput  type="text"  placeholder="Addis Ababa, Ethiopia" name="place" id="place" />
      </mat-form-field>
      <button mat-stroked-button color="primary" type="submit">Search JOb</button>
    </form>
</div>
