<app-job-gust-nav></app-job-gust-nav>
<div class="container">
  <div class="left">
    <div style="height: 90px; margin-bottom: 2rem">
      <div><h1>job title</h1></div>
      <div><span>Country . remote</span></div>
      <div>
        <span>Posted 5 hour ago . </span>
        <span>10 applicants</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="job-basic">
      <div>
        <span>Job Type</span>
        <h2>Full Time</h2>
      </div>
      <div>
        <span>Job Setup</span>
        <h2>Remot</h2>
      </div>
      <div>
        <span>Experience</span>
        <h2>Entry</h2>
      </div>
      <div>
        <span>Salary</span>
        <h2>$3000</h2>
      </div>
    </div>
    <div><h4>Job Description</h4></div>
    <div><h4>Resposibility</h4></div>
    <div><h4>Requirements</h4></div>
    <div class="last-applay">
      <a href="">Applay</a>
    </div>
  </div>

  <div class="right">
    <div class="action-btn">
      <div>
        <a href="#"><fa-icon [icon]="faBookmark"></fa-icon>Save job</a>
        <a href="#"><fa-icon [icon]="faShare"></fa-icon>Share</a>
      </div>
      <div>
        <a href="#" class="top-applay">Apply</a>
      </div>
    </div>

    <div class="related-job">
        <h3>Related Jobs</h3>
        <div>
            job card
        </div>
    </div>
  </div>
</div>
