<div class="container">
    <div class="basic">
        <h3>Basic Information</h3>
        <div class="name">
            <div class="cell">
                <h4>First Name</h4>
                <span>esmael</span>
            </div>
            <div>
                <h4>Last Name</h4>
                <span>esmael</span>
            </div>
            <div>
                <h4>Gender</h4>
                <span>esmael</span>
            </div>
        </div>
        <div class="location">
            <div>
                <h4>Cicizenship</h4>
                <span>ethiopia</span>
            </div>
            <div>
                <h4>Birth Date</h4>
                <span>12/12/212</span>
            </div>
            <div>
                <h4>Age</h4>
                <span>25</span>
            </div>
        </div>
    </div>
    <div class="address">
        <h3>Address</h3>
        <div >
            <div>
                <h4>Country</h4>
                <span>ethiopia</span>
            </div>
            <div>
                <h4>Region</h4>
                <span>12/12/212</span>
            </div>
            <div>
                <h4>City</h4>
                <span>25</span>
            </div>
        </div>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <div  >
            <div>
                <h4>Phone</h4>
                <span>ethiopia</span>
            </div>
            <div>
                <h4>Second Phone</h4>
                <span>12/12/212</span>
            </div>
        </div>
    </div>    
</div>