<footer>
  <div class="footer">
    <div>
      <span>Future Jobs</span>
      <p>
        Greate platform jor Job Seeker that searching for new career heights and
        passionate about startups.
      </p>
    </div>
    <div>
      <span>About</span>
      <ul>
        <li>Company</li>
        <li>Serivces</li>
        <li>Terms</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div>
      <span>Jobs By</span>
      <ul>
        <li>Full-Time</li>
        <li>Part-Time</li>
        <li>Contractual</li>
        <li>On-Site</li>
        <li>Remote</li>
        <li>Hybrid</li>
      </ul>
    </div>
    <div>
      <span>Get Jobs Notification</span>
      <form action="">
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput type="email"  name="email" />
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">Search JOb</button>
      </form>
    </div>
     
  </div>
 <mat-divider></mat-divider>
  <div class="auther">
    <div>
      <span>2024&#64; Future JObs. All right reserved</span>
    </div>
    <div>
      <span>Powerd by: <a href="">Esmael Mohammed</a></span>
    </div>
    <div class="social-media"><i></i><i></i><i></i><i></i><i></i></div>
  </div>
</footer>
