
<div class="user-setting">
    <!-- {{dateTime}} -->
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="notification"
        aria-label="Example icon-button with a menu"
      >
        <!-- <mat-icon>more_vert</mat-icon> -->
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </button>
      <mat-menu #notification="matMenu">
       <div class="notif-list">
        <a href="" mat-menu-item> Message one <span>from user</span></a>
       </div>
      </mat-menu>
    </div>

    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <!-- <mat-icon>more_vert</mat-icon> -->
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
      <a href="" mat-menu-item><span> first notification </span></a>  
      <a href="" mat-menu-item><span> second notification </span></a>  
      </mat-menu>
    </div>
  </div>