
  <div class="left-nav">
    <div class="logo">
      <span>Future Jobs</span>
    </div>
    <div>
      <div mat-card-avatar class="profile-picture"></div>
      <h1>employer name</h1>
      <h3>department</h3>
    </div>
    <div class="links">
      <a routerLink="/employer">
        <span><fa-icon [icon]="faGauge"></fa-icon>Dashboard</span></a
      >
      <a routerLink="/employer/jobs">
        <span><fa-icon [icon]="faBriefcase"></fa-icon>Job</span></a
      >
      <a href="">
        <span><fa-icon [icon]="faUserGroup"></fa-icon>Applicants</span></a
      >
      <a href="">
        <span><fa-icon [icon]="faHandshake"></fa-icon>Interviews</span></a
      >
    </div>
    <div class="last-link">
      <a href="">
        <span><fa-icon [icon]="faGear"></fa-icon>Admin</span></a
      >
      <a href="">
        <span><fa-icon [icon]="faGauge"></fa-icon>Logout</span></a
      >
    </div>
  </div>

  

